<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
</style>


<body>
<div th:fragment="header">
    <!-- 1、导航栏 -->
    <nav class="navbar navbar-default" >
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">物联网远程实验预约系统</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" id="teacher" class="dropdown-toggle" data-toggle="dropdown"></a>
                        <ul class="dropdown-menu" ria-labelledby="teacher">
                            <li><a id="logout">退出系统</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <!-- 2、该老师的实验预约 -->
    <div class="col-md-2 left_nav" style="height:100%;background-color: #F7F7F7">
        <!-- 2.1、感觉这一行的我的预约有点多余 -->
        <ul class="list-group">
            <li class="list-group-item" onclick="findMyOrder()">我的预约</li>
        </ul>
        <script type="text/javascript">

            var token = getQueryVariable("token");

            $(document).ready(function() {
                /* 目的是为了获取预约老师的姓名 为什么不直接使用session啦 类似于${token}}这样的语法 */
                $.ajax({
                    type: "get",
                    url: "/teacher/getUsername?token="+token,
                    dataType: 'json',
                    success: function(res) {
                        $("#teacher").html("你好，"+res.data+"<span class=\"caret\"></span>");
                    },
                    error:function(){

                    }
                });
            });

            //我的预约，这句代码啥意思
            function findMyOrder() {
                location.href="/order/startOrder?token="+token;
            }


            //退出系统
            $('#logout').on('click', function() {
                if(confirm('你确定要退出吗?')) {
                    $.get("/teacher/logout?token="+token,function(res){
                        if(res.code== 0){
                            location.href="/";
                        }else{
                            layer.msg(res.msg);
                        }
                    });
                }
            });
        </script>

    </div>

</div>


</body>
</html>